@keyframes example {
    0% {color: #EB5858;}
    50% {color: #3b73af;}
    100% {color: #EB5858;}
}

@keyframes ticket {
    0% {background: #FFFFFF;}
    50% {background: #EB5858;}
    100% {background: #FFFFFF;}
}

.remote_finali_link a{
	color: #EB5858;
	animation: example 4s infinite;
}

.remote_finali_link label{
  cursor: pointer;
}

.ghx_remote_finali_link {
  background: #EB5858;
  animation: ticket 4s infinite;
}
